吴冰/week09/应用-体脂健康建议.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 应用-体脂健康建议
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.26@4f1c4ded3d189719b7dd54e9d4e5b26f724f3632f3dfaa299491b42accc112c8
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1750247789086-source-1750247864708-target
      source: '1750247789086'
      sourceHandle: source
      target: '1750247864708'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1750247864708-source-1750248183676-target
      source: '1750247864708'
      sourceHandle: source
      target: '1750248183676'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1750248183676-source-1750248311782-target
      source: '1750248183676'
      sourceHandle: source
      target: '1750248311782'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1750248311782-source-1750248397090-target
      selected: false
      source: '1750248311782'
      sourceHandle: source
      target: '1750248397090'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 性别
          max_length: 48
          options:
          - 男
          - 女
          required: true
          type: select
          variable: sex
        - label: 身高（cm）
          max_length: 48
          options: []
          required: true
          type: number
          variable: height
        - label: 体重（kg）
          max_length: 48
          options: []
          required: true
          type: number
          variable: weight
        - default: ''
          hint: ''
          label: 年龄（岁）
          max_length: 4
          options: []
          placeholder: ''
          required: true
          type: number
          variable: age
      height: 186
      id: '1750247789086'
      position:
        x: 6.438085528739748
        y: 255.97833005672396
      positionAbsolute:
        x: 6.438085528739748
        y: 255.97833005672396
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(sex: str, height: int, weight: int, age:int) -> dict:\n  \
          \  # 根据性别选择不同的体脂率计算公式\n    if sex.lower() == '男':\n        # 男性体脂率计算公式\n\
          \        body_fat_percentage = 1.2 * (weight / (height / 100) ** 2) + 0.23\
          \ * age - 16.2\n    elif sex.lower() == '女':\n        # 女性体脂率计算公式\n    \
          \    body_fat_percentage = 1.2 * (weight / (height / 100) ** 2) + 0.23 *\
          \ age - 5.4\n\n    # 确保体脂率在合理范围内\n    if body_fat_percentage < 0:\n    \
          \    body_fat_percentage = 0\n    elif body_fat_percentage > 100:\n    \
          \    body_fat_percentage = 100\n\n    return {\"body_fat_percentage\": round(body_fat_percentage,\
          \ 2)}\n"
        code_language: python3
        desc: ''
        outputs:
          body_fat_percentage:
            children: null
            type: number
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
        - value_selector:
          - '1750247789086'
          - age
          value_type: string
          variable: age
      height: 52
      id: '1750247864708'
      position:
        x: 313.73356071216847
        y: 285.88071047425535
      positionAbsolute:
        x: 313.73356071216847
        y: 285.88071047425535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: qwq-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: f3024c0a-017c-4519-96d8-a53a4e2a62c5
          role: system
          text: 你是营养专家，请结合用户的体脂比状态给出有效的建议。
        - id: f78173fa-6b4e-4f0b-9728-b39614a2d899
          role: user
          text: '性别：{{#1750247789086.sex#}}

            身高：{{#1750247789086.height#}}

            体重：{{#1750247789086.weight#}}

            年龄：{{#1750247789086.age#}}

            体脂比：{{#1750247864708.body_fat_percentage#}}'
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1750248183676'
      position:
        x: 323.4643770223147
        y: 435.5962526919188
      positionAbsolute:
        x: 323.4643770223147
        y: 435.5962526919188
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        selected: true
        template: '## 用户基本信息


          - 性别 {{ sex }}

          - 身高 {{ height }}

          - 体重 {{ weight }}

          - 年龄 {{ age }}


          ## 体脂比


          {{ body_fat_percentage }}


          ## 健康建议


          {{ text }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
        - value_selector:
          - '1750247789086'
          - age
          value_type: string
          variable: age
        - value_selector:
          - '1750247864708'
          - body_fat_percentage
          variable: body_fat_percentage
        - value_selector:
          - '1750248183676'
          - text
          variable: text
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
      height: 52
      id: '1750248311782'
      position:
        x: 333.10289892565356
        y: 605.6435352107463
      positionAbsolute:
        x: 333.10289892565356
        y: 605.6435352107463
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1750248311782'
          - output
          variable: output
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1750248397090'
      position:
        x: 333.10289892565356
        y: 752.8487708580278
      positionAbsolute:
        x: 333.10289892565356
        y: 752.8487708580278
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 117.61548649564963
      y: -338.4120732018964
      zoom: 1.5792333359694883
  rag_pipeline_variables: []
